/* font-family: 'Black Han Sans', sans-serif; */
/* font-family: 'Noto Sans KR', sans-serif;
font-family: 'Noto Serif KR', serif; */

:root{
    --hi-font-han:'Black Han Sans', sans-serif;
    --hi-font: 'Noto Sans KR', sans-serif;
    --hi-font-em: 'Noto Serif KR', serif;
    --hi-active: rgb(43, 106, 199);

}
body{
    font-family: var(--hi-font);
    font-weight:100;
    font-size: 16px;
    line-height: 2;
}
li {list-style: 0;}
a{color:var(--hi-active);text-decoration: none;}

/* 공통클래스 */

/* 접근성 */
.hidden{
    position:absolute;width:0; height: 0;overflow: hidden;
    visibility: hidden;opacity: 0;
}

button#top.top{
    position: fixed;
    background-color: black;
    color: white;
    right: 10px;
    bottom: 10px;
    width:30px;
    height: 30px;
    border-radius: 50%;
    border:0;
    cursor: pointer;

}
ul#quick{position: fixed;
    RIGHT: 0;
    TOP: 50%;
    transform: translateY(-50%);
    width:25px;
}
    

ul#quick>li{
            width:100px; border:1px solid var(--hi-active); 
            margin-top:1px;
            margin-bottom:1px;
            margin-left:0;
            transition:0.5s;
        }
        ul#quick a{color: white}
        ul#quick>li.youtube{background-color:rgba(204, 0, 0, 0.9)}
        ul#quick>li.twitter{background-color:#29a4d9}
        ul#quick>li.facebook{background-color: #385498}
        ul#quick>li.instagram{background: rgb(63,94,251);
            background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);}
ul#quick li i{display: inline-block;width: 25px;text-align: center;}

ul#quick li:hover {margin-left: -75px;}




